@media(max-width: 768px) {

    .header-navigation {margin-bottom: 0;}
    .navbar-header {
        width: 100%;
        float: none;
        margin: 0 !important;
        padding: 0;
    }

    .navbar-nav {
        margin: 0;
    }
    .navbar-default .navbar-toggle {
        display: block;
        margin-right: 0;
        border-color: #00bbff;
        background-color: transparent !important;
    }
    .navbar-default .navbar-toggle:hover {border-color: #fff;}
    .navbar-default .navbar-toggle .icon-bar {background: #00bbff;}
    .navbar-default .navbar-toggle:hover .icon-bar {background: #fff;}
    .navbar-collapse.collapse {
        display: none!important;
        height: 0!important;
        padding-bottom: 0;
        overflow: auto!important;
        width: 100%;
    }
    .navbar-default .navbar-collapse {
        background: transparent;
        padding: 0px 0px !important;
        padding-bottom: 0px !important;
        /*border: 1px solid #006699;*/
        margin: 0;
        background: #003344;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
        height: auto !important;
        max-height: 70vh;
    }
    .navbar-collapse.in {
        overflow-y: auto;
    }
    .header-navigation.navbar .nav {
        width: 100%;
        text-align: left;
    }
    .header-navigation.navbar .nav > li {
        display: block;
        padding: 0 !important;
        width: 100%;
        float: none;
    }
    .header-navigation.navbar .nav > li + li {margin-left: 0;}
    .header-navigation.navbar .nav > li > a {
        padding: 8px 0;
    }
    .header-navigation.navbar .right-box.nav {
        width: 100%;
        margin: 0;
    }
    .header-navigation.navbar .right-box.nav > li > a {
        border: none !important;
        padding: 8px 0;
        color: #fff;
    }
    .header-navigation.navbar .nav > li > a:after {
        display: none;
    }
    .header-navigation.navbar .nav.navigation-box + .nav {
        border-top: 1px dashed #003344;
    }
    .header-navigation.navbar .navbar-nav > li > .sub-menu,
    .header-navigation.navbar .navbar-nav > li > .sub-menu > li > .sub-menu {
        position: relative !important;
        width: 100% !important;
        opacity: 1 !important;
        visibility: visible !important;
        left: auto;
        right: auto;
        top: auto;
        transition: none;
        display: none;
        float: none;
        margin: 0;
    }
    .header-navigation.navbar .navbar-nav > li > .sub-menu > li > a::after {
        display: none;
    }
    .header-navigation.navbar .nav > li + li {
        padding: 0 !important;
        border-top: 1px solid rgba(255,255,255,.1);
        display: block;
        float: none;
    }
    .header-navigation.navbar .nav > li.show-mobile {display: none;}
    .header-navigation.navbar .nav > li > a,
    .header-navigation.navbar .right-box.nav > li > a {
        padding: 0;
        display: block;
        color: #00bbff;
        padding: 16px 0 16px 20px !important;
        transition: background 0.4s ease 0s;
        text-transform: capitalize;
    }
    .header .stricky-fixed.header-navigation.navbar .nav > li {
        padding: 0 !important;
    }
    .header-navigation.navbar .navbar-nav .sub-nav-toggler {
        background-color: transparent;
        background-image: none;
        border: 1px solid #00bbff;
        border-radius: 4px;
        padding: 9px 9px;
        position: absolute;top:0;right:0;margin-top: 8px;
        margin-right: 10px;
        display: block;
    }
    .header-navigation.navbar .navbar-nav .sub-nav-toggler .icon-bar {
        background-color: #00bbff;
        border-radius: 1px;
        display: block;
        height: 1px;
        width: 20px;
    }
    .header-navigation.navbar .navbar-nav .sub-nav-toggler .icon-bar + .icon-bar {
        margin-top: 4px;
    }
    .header .header-navigation.navbar .nav > li + li {margin-left: 0;}
    .header .header-navigation .navbar-form {width: 100%;max-width: 100%;}
    .header-navigation .container {padding-right: 15px;padding-left: 15px;}
    .navbar-header {padding-right: 0px;}
    .header-navigation ul.navigation-box > li > ul.sub-menu > li > a .sub-nav-toggler {border-color: #fff}
    .header-navigation ul.navigation-box > li > ul.sub-menu > li > a .sub-nav-toggler .icon-bar {background-color: #fff}
    .header-navigation .container .navbar-brand {padding: 25px 0;}
    .header-navigation ul.navigation-box > li:hover > a,
    .header-navigation ul.navigation-box > li.current > a {background: #00bbff;color: #fff;}
    .header-navigation .container {padding-right: 15px;}
    .header {top: 50px;}
    .navbar-default .navbar-toggle {margin: 0;}
    .header-navigation .container .navbar-brand {padding: 0 0 25px;}
    .header-navigation .container .navbar-toggle {margin: 0px 0 22px;}
    .header-navigation.stricky-fixed .container .navbar-toggle {margin: 22px 0;}
    .header-navigation.stricky-fixed .navbar-toggle:hover {border-color: #fff;}
    .header-navigation.stricky-fixed .navbar-toggle:hover .icon-bar {background: #fff;}

    .banner-static .banner-content h1 {
        font-size: 32px;
        line-height: 50px;
        margin-top: -100px;
    }

    .banner-static .banner-content p {
      margin-bottom: 40px;
    }

    .download-btn {
        margin-bottom: 20px;
        margin-top: 0;
    }

    .banner-moc-box img {
      display: none;
    }

    .app-secreenshots h2 {
      margin-top: -50px;
    }

    .fun-fact {
      padding: 70px 0 30px 0;
    }

    .fun-fact .single-fun-fact {
      text-align: center;
      display: block;
      margin: 0 0 30px 0;
    }

    .fun-fact .single-fun-fact span.counter {
      font-size: 43px;
    }

    .how-app-work-section .single-how-app-work .text-box p  {
      font-size: 16px;
    }

    .how-app-work-section {
      margin-bottom: -160px;
    }

    .how-app-work-content-wrap .title {
      margin-top: 80px;
      text-align: center;
    }

    .links-widget .title {
      margin-top: 40px;
    }
}
