<footer id="footer">
  <div class="container">
    <div class="columns">
      <div class="col-01">
        <a href="/">
          <img src="/img/logo-2.png" alt="egasosa">
        </a>
        <p>O egasosa transforma o interesse coletivo em economizar em uma poderosa comunidade!<p>
        <p>Qualquer pessoa pode reduzir consideravelmente seus gastos em combustíveis, através de descontos surpreendentes.</p>
        <ul class="link-list">
          <li><a href="/{{ site.link_suporte }}">Suporte</a></li>
          <li><a href="/{{ site.link_facebook }}">Facebook</a></li>
          <li><a href="/{{ site.link_instagram }}">Instagram</a></li>
        </ul>
      </div>
      <div class="col-02">
        <h2>Baixe agora mesmo!</h2>
        <p>O egasosa está crescendo. Atualmente, disponível em algumas cidades:</p>
        <p>Londrina e Cambé no Paraná e Campinas, Indaiatuba, Itatiba, Valinhos, Jaguariúna e Paulínia em São Paulo.</p>
        <a href="{{ site.url_app_apple }}" class="download-btn first-but">
          <i class="fab fa-apple"></i>
          <span class="inner"> <span class="avail">Disponível na</span> <span class="store-name">App Store</span></span>
        </a>
        <a href="{{ site.url_app_android }}" class="download-btn">
          <i class="fab fa-google-play"></i>
          <span class="inner"><span class="avail">Disponível no</span> <span class="store-name">Google play</span></span>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
		<div class="container">
			<div class="pull-left left-content">
				<p>
          &copy; 2018 Egasosa Atividades de Internet Ltda<br>
          <em>CNPJ 21.524.611/0001-09</em>
        </p>
			</div><!-- /.pull-left left-content -->
			<div class="pull-right right-content">
				<p>Todos os direitos reservados.</p>
			</div><!-- /.pull-right -->
		</div><!-- /container -->
	</div>
</footer>
