<header class="header">
  <div class="header__logo-buttons">
    <img src="{% asset_path 'logo.svg' %}" alt="Egasosa">
    <h1 class="header__title">DESCONTOS EM COMBUSTÍVEIS.<br />
        ONDE E QUANDO QUISER*.</h1>
    <p class="header__subtitle">*EM TESTE, NAS CIDADE DE LONDRINA E CAMBÉ, NO PARANÁ.</p>

    <div class="header__buttons">
      <a href="" class="header__link-google">
        <img src="{% asset_path 'google-play.svg' %}" alt="Download google play" class="header__button-android">
      </a>
      <a href="" class="header__link-apple">
          <img src="{% asset_path 'apple-store.svg' %}" alt="Download apple store" class="header__button-apple">
      </a>
    </div>
  </div>
  <div class="header__advantages">
    <p calss="header__know">Conheça<br />algumas</p>
    <h2 class="header__advantages-title">Vantagens</h2>
  </div>
</header>