<header class="header">
  <div class="header__logo-buttons">
    <img src="{% asset_path 'logo.svg' %}" alt="egasosa" class="header__logo">
    <h1 class="header__title">Abasteça com desconto.<br /> PELO CELULAR.</h1>
    <p class="header__subtitle">NAS CIDADES DE CAMPINAS, VALINHOS, INDAIATUBA, ITATIBA E JAGUARIÚNA EM SÃO PAULO; E EM LONDRINA E CAMBÉ NO PARANÁ.</p>

    <div class="header__buttons">
      <a href="https://go.egasosa.com/2jWhnT4" class="header__link-google">
        <img src="{% asset_path 'google-play.svg' %}" alt="Download google play" class="header__button-android">
      </a>
      <a href="https://go.egasosa.com/2jTFrGs" class="header__link-apple">
          <img src="{% asset_path 'apple-store.svg' %}" alt="Download apple store" class="header__button-apple">
      </a>
    </div>
  </div>
  <div class="header__advantages">
    <p class="header__know">Conheça<br />algumas</p>
    <div class="header__advantages-background">
      <h2 class="header__advantages-title">Vantagens</h2>
    </div>
  </div>
  <img src="{% asset_path 'mouse.svg' %}" alt="Mais conteudo" class="header__mouse">
</header>
