<header class="header">
  <div class="header__logo-buttons">
    <img src="{% asset_path 'logo.svg' %}" alt="Egasosa">
    <h1>DESCONTOS EM COMBUSTÍVEIS.<br />
        ONDE E QUANDO QUISER*.</h1>
    <p>*EM TESTE, NAS CIDADE DE LONDRINA E CAMBÉ, NO PARANÁ.</p>

    <div class="header__buttons">
      <a href="">
        <img src="{% asset_path 'google-play.svg' %}" alt="Download google play" class="button-android">
        <img src="{% asset_path 'apple-store.svg' %}" alt="Download apple store" class="button-apple">
      </a>
    </div>
  </div>
  <div class="header__advantages">
    <p>Conheça<br />algumas</p>
    <h2>Vantagens</h2>
  </div>
</header>