<div class="sidebar sidebar-right">
    <div class="single-sidebar search-widget">
        <form action="#">
            <input type="text" placeholder="Search..." />
            <button type="submit" class="fa fa-search"></button>
        </form>
    </div><!-- /.single-sidebar -->
    <div class="single-sidebar category-widget" style="display: none;">
        <div class="title">
            <h3>Categories</h3>
        </div><!-- /.title -->
        <ul class="category-list">
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Life Style</a></li>
            <li><a href="#">Recent Blog</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Biography</a></li>
        </ul><!-- /.category-list -->
    </div><!-- /.single-sidebar -->
    {% include blog/recent-posts.html %}
    <!-- <div class="single-sidebar tags-widget">
        <div class="title">
            <h3>Tags</h3>
        </div>
        <ul class="tags-list">
            <li><a href="#">Business</a></li>
            <li><a href="#">Financial</a></li>
            <li><a href="#">Life</a></li>
            <li><a href="#">Investment</a></li>
            <li><a href="#">Government</a></li>
            <li><a href="#">Joy</a></li>
        </ul>
    </div> -->
</div><!-- /.sidebar sidebar-right -->
