---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>egasosa - Blog</title>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    {% include trackers/analytics.html %}
    {% include trackers/facebook_pixel.html %}
</head>
<body>

<header class="header home-page-one">
    <nav class="navbar navbar-default header-navigation stricky">
        <div class="container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/img/logo-2.png" alt="Awesome Image"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-navigation mainmenu one-page-scroll-menu" id="main-nav-bar">
                <ul class="nav navbar-nav navigation-box">
                    <li><a href="/#banner">Início</a> </li>
                    <li><a href="/#features">Benefícios</a> </li>
                    <li><a href="/#how-it-works">Como funciona</a></li>
                    <li><a href="/#footer">Baixe já</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header><!-- /.header -->

<section class="inner-banner">
    <div class="container text-center">
        <h3>Blog do egasosa</h3>
        <p>Novidades e dicas sobre o egasosa</p>
    </div><!-- /.container -->
</section><!-- /.inner-banner -->

<div class="separator no-border mt100 full-width"></div><!-- /.separator no-border mt135 -->

<section class="blog-list blog-style-two">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="has-right-sidebar">
                  {% for post in site.posts %}
                    <div class="single-blog-post-style-two">
                        {% if post.show_image == true %}
                          <div class="img-box">
                              <img src="{{ post.image }}" alt="{{ post.title }}"/>
                          </div><!-- /.img-box -->
                        {% endif %}
                        <div class="text-box">
                            <a href="{{ post.url }}" class="date">{{ post.date | date: '%B %d, %Y' }}</a>
                            <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
                            {{ post.excerpt }}
                            <a href="{{ post.url }}">Ler mais...</a>
                            {% include blog/post/meta.html %}

                        </div><!-- /.text-box -->
                    </div><!-- /.single-blog-post-style-two -->
                  {% endfor %}

                    <div class="blog-post-pagination">
                        <a href="#" class="active">1</a><!--
                        --><a href="#">2</a><!--
                        --><a href="#">3</a><!--
                        --><a href="#">4</a><!--
                        --><a href="#"><i class="fa fa-angle-right"></i></a>
                    </div><!-- /.blog-post-pagination -->
                </div><!-- /.has-right-sidebar -->
            </div><!-- /.col-md-9 -->
            <div class="col-md-3 col-sm-12 col-xs-12">
                {% include blog/right-sidebar.html %}
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog-list blog-style-two -->

<div class="separator no-border mb135 full-width"></div><!-- /.separator no-border mb135 -->

<footer id="footer">
  <div class="container">
    <div class="columns">
      <div class="col-01">
        <a href="/">
          <img src="/img/logo-2.png" alt="egasosa">
        </a>
        <p>O egasosa transforma o interesse coletivo em economizar em uma poderosa comunidade!<p>
        <p>Qualquer pessoa pode reduzir consideravelmente seus gastos em combustíveis, através de descontos surpreendentes.</p>
        <ul class="link-list">
          <li><a href="{{ site.link_suporte }}">Suporte</a></li>
          <li><a href="{{ site.link_facebook }}">Facebook</a></li>
          <li><a href="{{ site.link_instagram }}">Instagram</a></li>
        </ul>
      </div>
      <div class="col-02">
        <h2>Baixe agora mesmo!</h2>
        <p>O egasosa está crescendo. Atualmente, disponível em algumas cidades:</p>
        <p>Londrina, Maringá e Cambé no Paraná e Campinas, Indaiatuba, Itatiba, Valinhos, Jaguariúna e Paulínea em São Paulo.</p>
        <a href="{{ site.url_app_apple }}" class="download-btn first-but">
          <i class="fab fa-apple"></i>
          <span class="inner"> <span class="avail">Disponível na</span> <span class="store-name">App Store</span></span>
        </a>
        <a href="{{ site.url_app_android }}" class="download-btn">
          <i class="fab fa-google-play"></i>
          <span class="inner"><span class="avail">Disponível no</span> <span class="store-name">Google play</span></span>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
		<div class="container">
			<div class="pull-left left-content">
				<p>
          &copy; 2018 Egasosa Atividades de Internet Ltda<br>
          <em>CNPJ 21.524.611/0001-09</em>
        </p>
			</div><!-- /.pull-left left-content -->
			<div class="pull-right right-content">
				<p>Todos os direitos reservados.</p>
			</div><!-- /.pull-right -->
		</div><!-- /container -->
	</div>
</footer>

<script src="/js/jquery.js"></script>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/custom.js"></script>

</body>
</html>
