.header {
  background: image-url('background.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;

  @include mobile(phone-only) {
    background: image-url('background.png') no-repeat top center;
    background-size: auto;
  }

  &__logo-buttons {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75%;
    width: 70%;

    @include mobile(phone-only) {
      width: 90%;
      height: auto;
    }
  }

  &__title {
    font-family: $base-font;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    color: $white;
    text-transform: uppercase;
  }

  &__subtitle {
    font-family: $base-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2px;
    text-align: left;
    color: $white;
    margin: 15px 0 40px;
    text-transform: uppercase;
  }

  &__buttons {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include mobile(phone-only) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  &__link-apple {
    margin-left: 50px;
    
    @include mobile(phone-only) {
      margin: 20px 0 0;
    }
  }

  &__advantages {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 95px;
    right: 20px;

    @include mobile(phone-only) {
      display: none;
    }
  }

  &__know {
    font-family: $base-font;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 2px;
    text-align: right;
    color: $primary-color;
    text-transform: uppercase;
  }

  &__advantages-background {
    background: $accent-color;
  }

  &__advantages-title {
    height: 38px;
    font-family: $base-font;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    color: $white;
    text-transform: uppercase;
    margin: 0;
    padding: 12px 24px;
  }
}