.testing {
  background: image-url('background.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  position: relative;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include mobile(phone-only) {
    min-height: auto;
    flex-direction: column;
    padding: 30px 0;
    width: 100%;
  }

  &__infos {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 480px;
    text-align: center;

    @include mobile(phone-only) {
      padding: 0 20px;
      display: table-cell;
    }

    @include mobile(tablet-portrait-up) {
      padding: 0 20px;
    }
  }

  &__title {
    color: $white;
    margin-top: 0;
    font-family: $base-font;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: left;
  }

  &__text {
    font-family: $base-font;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 3px;
    text-align: left;
  }

  &__map {
    max-width: 514px;
    width: 100%;

    @include mobile(phone-only) {
      padding: 0 10px;
      max-width: 300px;
    }
  }
}