<div class="single-sidebar category-widget" style="display: none;">
    <div class="title">
        <h3>Categories</h3>
    </div><!-- /.title -->
    <ul class="category-list">
        <li><a href="/#">Fashion</a></li>
        <li><a href="/#">Life Style</a></li>
        <li><a href="/#">Recent Blog</a></li>
        <li><a href="/#">Food</a></li>
        <li><a href="/#">Travel</a></li>
        <li><a href="/#">Biography</a></li>
    </ul><!-- /.category-list -->
</div><!-- /.single-sidebar -->
