---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{ page.title }} - egasosa</title>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    {% include trackers/analytics.html %}
    {% include trackers/facebook_pixel.html %}

</head>
<body>
  {% include trackers/facebook_comment_plugin.html %}

  <div class="preloader"><div class="spinner"></div></div><!-- /.preloader -->



<header class="header home-page-one">
    <nav class="navbar navbar-default header-navigation stricky">
        <div class="container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/img/logo-2.png" alt="Awesome Image"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-navigation mainmenu one-page-scroll-menu" id="main-nav-bar">
                <ul class="nav navbar-nav navigation-box">
                    <li><a href="/#banner">Início</a> </li>
                    <li><a href="/#features">Benefícios</a> </li>
                    <li><a href="/#how-it-works">Como funciona</a></li>
                    <li><a href="/#footer">Baixe já</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header><!-- /.header -->

<section class="inner-banner">
    <div class="container text-center">
        <h3>
          {{ page.title }}
        </h3>
    </div><!-- /.container -->
</section><!-- /.inner-banner -->

<div class="separator no-border mt100 full-width"></div><!-- /.separator no-border mt135 -->

<section class="blog-list blog-style-two">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="has-right-sidebar">
                    <div class="single-blog-post-style-two">
                      {% if page.show_image == true %}
                        <div class="img-box">
                            <img src="{{ post.image }}" alt="{{ post.title }}"/>
                        </div><!-- /.img-box -->
                      {% endif %}
                        <div class="text-box">
                            <a href="/{{ post.url }}" class="date">
                              {{ page.date | date: '%B %d, %Y' }}
                            </a>
                            <h1>{{ page.title }}</h1>
                            {{ page.content }}

                            <div class="meta-info">
                                <a href="{{ page.url }}">por: {{ page.writer }}</a>
                                <span class="sep">/</span>
                                <!-- <span class="sep">/</span>
                                <a href="#">Life Style</a> -->
                                <!-- <span class="sep">/</span> -->
                                <!-- <a href="#">comments: 1</a> -->
                            </div>

                            <div class="fb-comments" data-href="https://www.egasosa.com.br{{page.url}}" data-numposts="10"></div>
                        </div><!-- /.text-box -->
                    </div><!-- /.single-blog-post-style-two -->
                </div><!-- /.has-right-sidebar -->
            </div><!-- /.col-md-9 -->
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="sidebar sidebar-right">
                    <div class="single-sidebar search-widget">
                      {% include shared/search_form.html %}
                    </div><!-- /.single-sidebar -->
                    {% if false %}
                      {% include sidebar_categories.html %}
                    {% endif %}
                    {% include blog/recent-posts.html %}
                </div><!-- /.sidebar sidebar-right -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog-list blog-style-two -->

<div class="separator no-border mb135 full-width"></div><!-- /.separator no-border mb135 -->

{% include footer.html %}

<script src="/js/jquery.js"></script>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/custom.js"></script>

</body>
</html>
